@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/web/cuprum.woff2') format('woff2'),
  url('../fonts/web/cuprum.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/web/cuprumbold.woff2') format('woff2'),
  url('../fonts/web/cuprumbold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/web/cuprumitalic.woff2') format('woff2'),
  url('../fonts/web/cuprumitalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/web/ptsans.woff2') format('woff2'),
  url('../fonts/web/ptsans.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/web/ptsansbold.woff2') format('woff2'),
  url('../fonts/web/ptsansbold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  min-width: 940px;
}

a {
  text-decoration: none;
}

/* -- HEADER --*/
.main-header {
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f4f7f9;
  margin-bottom: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.catalog-header {
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f4f7f9;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

/*-- TOP HEADER --*/
.top-header {
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  height: 42px;
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 46px;
}

.top-header-wrap {
  max-width: 940px;
  height: 42px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*--  LOGO --*/
.logo {
  display: block;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto 0;
  padding: 11px 0 7px;
  background-color: #ee3643;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:focus,
.logo:active {
  background-color: #ba2732;
}

/* -- SEARCH --*/

.search-form {
  position: relative;
}

.search-form input {
  width: 270px;
  height: 42px;
  border: 0;
  padding: 0 10px 0 49px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form svg {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;
  fill: #ffffff;
  opacity: 0.3;
}

.search-form input {
  width: 270px;
  height: 42px;
  border: 0;
  padding: 0 10px 0 47px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  color: black;
  background-color: #ffffff;
}

.search-input:hover + svg {
  fill: #ffffff;
  opacity: 1.0;
}

.search-input:focus + svg {
  fill: #ee3643;
  opacity: 1.0;
}

.search-input::placeholder {
   color: #ffffff;
}

.search-input::placeholder:active {
  color: #000000;
}

/* -- SHOP-PANEL --*/
.shop-panel {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none
}

.shop-panel-item {
  margin-left: -1px;
  padding: 0;
  width: 150px;
  height: 42px;
  text-align: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.shop-panel-item:hover {
  background-color: #212a3a;
}

.shop-panel-item:focus,
.shop-panel-item:active {
  background-color: #161d29;
}

/* -- BOOKMARK --*/
.item-bookmark {
  display: block;
  text-align: center;
  padding: 12px 0 12px 13px;
  color: #ffffff;
}

.item-bookmark svg {
  position: absolute;
  top: 12px;
  left: 14px;

  width: 17px;
  height: 17px;
  fill: #ffffff;
  opacity: 0.3;
}

.item-bookmark:hover svg,
.item-cart:hover svg {
  opacity: 1;
}

.item-bookmark:active,
.item-bookmark:focus {
  color: #b3b4b6;
}

.item-bookmark:active svg,
.item-bookmark:focus svg {
  opacity: 0.5;
}

/* -- CART --*/
.item-cart {
  display: block;

  margin: 0;
  padding: 12px 0 12px 17px;
  color: #ffffff;
}

.active-cart {
  width: 150px;
  padding: 12px 0 12px 21px;

  background-color: #ee3643;
}

.item-cart svg {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 15px;
  fill: #ffffff;
  opacity: 0.3;
}

.item-cart:active,
.item-cart:focus {
  color: #b3b4b6;
}

.item-cart:active svg,
.item-cart:focus svg {
  opacity: 0.5;
}

 /* -- ORDER BUTTON --*/
.btn-order {
  display: block;

  margin: 0;
  padding: 12px 22px 12px 20px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
  background-color: #63a63e;
  border: none;
}

.btn-order:hover {
  background-color: #5fbb2d;
  colo
}

.btn-order:focus,
.btn-order:active {
  background-color: #518534;
  color: #b3b4b6;
}

/* -- INFO HEADER --*/
.info-header {
  margin-bottom: 44px;
  padding: 0;
}

.info-header-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  width: 940px;
  height: 68px;

  font-family: "Cuprum", Arial, sans-serif;
  margin: 0 auto;

  box-sizing: border-box;
}

.header-title {
  margin: 0;
  margin-left: 53px;
}

.description {
  width: 197px;
  margin: 3px 0 0;
  padding: 0;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  margin: 0;
  padding: 0;
  width: 270px;
}

.catalog-header .header-contacts {
  padding-left: 20px;
}

.phone {
  margin: 0;
  width: 270px;
  text-align: center;
  position: relative;
}

.phone a {
  display: block;
  padding: 10px 0 9px 20px;
  margin: 0;

  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
}

.phone svg {
  position: absolute;
  top: 13px;
  left: 16px;

  width: 19px;
  height: 19px;
  fill: #B7BFC8;
}

.address {
  margin: 0;
  padding-top: 4px;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/* -- Личный кабинет --*/
.user-panel {
  margin: 0;
  padding: 0;
  display: flex;
  height: 45px;
}

.user-panel a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-panel a:hover {
  color: #ee3643;
}

.user-panel a:active,
.user-panel a:focus {
  color: #cacaca;
}

.user-enter {
  padding: 12px 25px 12px 47px;
  margin-right: 10px;
  position: relative;
}

.user-enter svg {
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;
  fill: #c5c5c5;
}

.user-enter:hover svg {
  fill: #32425c;
}

.user-enter:active svg,
.user-enter:focus svg {
  fill: #c5c5c5;
}

.user-registration {
  margin: 0;
  padding: 12px 24px;
}

/*-- Панель юзера --*/
.user-panel-active {
  font-family: "Cuprum", Arial, sans-serif;
}

.user-name {
  position: relative;
  margin: 0;
  margin-bottom: 2px;
  padding: 13px 68px 15px 47px;
  background-color: #ffffff;
}

.user-log svg {
  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;
  fill: #c5c5c5;
}

.user-log:hover svg {
  fill: #32425c;
}

.user-log:focus svg,
.user-log:active svg {
  fill: #c5c5c5;
}

.user-name span {
  display: block;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
}

.user-name:active span,
.user-name:focus span {
  color: #c5c5c5;
}

.user-name a:focus {
  color: #c5c5c5;
}
.user-logout svg {
  position: absolute;
  top: 14px;
  right: 10px;

  width: 21px;
  height: 17px;
  fill: #c5c5c5;
}

.user-logout:hover svg {
  fill: #32425c;
}

.user-logout:active svg,
.user-logout:focus svg {
  fill: #c5c5c5;
}

.user-list {
  margin: 0;
  padding: 0;
}

.user-list a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  margin: 7px 0 0 18px;
}

.user-list a:nth-child(2) {
  margin-left: 28px;
  position: relative;
}

.user-list a:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 8px;
  left: -16px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-list a:hover {
  color: #ee3643;
}

.user-list a:focus {
  color: #c5c5c5;
}

/* -- NAVIGATION HEADER --*/
.main-navigation {
  margin-bottom: 60px;
}

.nav-wrap {
  margin: 0 auto;
  width: 940px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  background-color: #32425c;
  min-height: 55px;
  border-bottom: 5px solid #293449;
}

.element-navigation {
  display: block;

  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  text-align: center;

  margin: 0;
  padding: 20px 30px 18px;
}

.element-navigation:hover {
  background-color: #293449;
}

.element-navigation:focus {
  color: #868c95;
  background-color: #1d2739;
}

.list-navigation:first-child a {
  padding-left: 52px;
}

.list-navigation:last-of-type a {
  padding-right: 55px;
}

/*-- Стили MAIN контейнера --*/
.container {
  margin-bottom: 86px;
  padding: 0;
  min-width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -- Стили ПРОМО БЛОКА --*/
.promo {
  padding: 0;
  width: 940px;
  min-height: 410px;
  margin-bottom: 33px;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.promo-item {
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  width: 300px;
  height: 123px;
}

.promo-item:nth-of-type(4) {
  margin-left: 640px;
}

.promo-item:nth-of-type(5) {
  margin-left: 640px;
}

.promo-item h3 {
  margin-top: 21px;
  margin-left: 23px;
  margin-bottom: 13px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.btn-promo {
  display: block;
  width: 135px;
  margin-left: 23px;
  padding: 10px 0;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.materials  {
  background-color: #ffbf47;
  background-image: url("../img/promo/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
  position: relative;
}

.materials .btn-promo {
  background-color: rgba(221, 160, 40, 1.1);
}

.materials .btn-promo:hover {
  background-color: rgba(221, 160, 40, 1.2);
}

.materials .btn-promo:active,
.materials .btn-promo:focus {
  background-color: rgba(221, 160, 40, 1.3);
}

.materials .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 320;
}

.materials .flag-new {
  background: url("../img/new.png") no-repeat 0 0;
}

.instruments {
  background-color: #3bbce3;
  background-image: url("../img/promo/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
}

.instruments .btn-promo {
  background-color: rgba(53, 169, 204, 1.1);
}

.instruments .btn-promo:hover {
  background-color: rgba(53, 169, 204, 1.2);
}

.instruments .btn-promo:active,
.instruments .btn-promo:focus {
  background-color: rgba(53, 169, 204, 1.3);
}

.technics {
  background-color: #dc91d8;
  background-image: url("../img/promo/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
}

.technics .btn-promo {
  background-color: rgba(198, 130, 194, 1.1);
}

.technics .btn-promo:hover {
  background-color: rgba(198, 130, 194, 1.2);
}

.technics .btn-promo:active,
.technics .btn-promo:focus {
  background-color: rgba(198, 130, 194, 1.3);
}

.sells {
  background-color: #8ed78f;
  background-image: url("../img/promo/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 82% 50%;
}

.sells .btn-promo {
  background-color: rgba(128, 193, 128, 1.1);
}

.sells .btn-promo:hover {
  background-color: rgba(128, 193, 128, 1.2);
}

.sells .btn-promo:active,
.sells .btn-promo:focus {
  background-color: rgba(128, 193, 128, 1.3);
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/promo/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
}

.delivery .btn-promo {
  background-color: rgba(229, 172, 64, 1.1);
}

.delivery .btn-promo:hover {
  background-color: rgba(229, 172, 64, 1.2);
}

.delivery .btn-promo:active,
.delivery .btn-promo:focus {
  background-color: rgba(229, 172, 64, 1.3);
}

/* -- SLIDER -- */
.promo-slider {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;
  position: absolute;
  top: 143px;
  left: 0;
  border: none;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.title-slider-item {
  padding: 23px 0 0 23px;
}

.title-slider-item h3 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-slider-item p {
  display: block;
  margin: 1px 0 0 1px;
  font-size: 18px;
  line-height: 24px;
}

.slider-item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn-slider {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin-left: 25px;
  margin-top: 123px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
  background-color: #ee3643;
}

.btn-slider:hover {
  background-color: #ca2c37;
}

.btn-slider:focus {
  background-color: #ba2732;
}

.controls-slider {
  width: 578px;
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 114px;
  left: 0;
}

.btn-petals-left svg {
  width: 22px;
  height: 40px;
  fill: #ffffff;
  cursor: pointer;
}

.btn-petals-right svg {
  width: 22px;
  height: 40px;
  fill: #ffffff;
  cursor: pointer;
}

.toggle-slider {
  position: absolute;
  top: 212px;
  left: 294px;
}

.toggle-slide {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.toggle-slide::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
}

.toggle-slide-1::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;

  display: none;
}

.toggle-slide-2::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

 /* -- POPULAR PRODUCTS --*/
.popular-products {
  margin: 0;
  padding: 0;
}

.popular-products-header {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popular-products-header h2 {
  margin: 0;
  padding-left: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #32425c;
  text-transform: uppercase;
}

.popular-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn-popular {
  display: block;
  width: 253px;
  padding: 10px 0;
  margin-right: 24px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
}

.btn-popular:hover {
  background-color: #ca2c37;
}

.btn-popular:focus {
  background-color: #ba2732;
}

/* -- POPULAR MANUFACTURES --*/
.popular-manufacturers {
  margin-bottom: 65px;
}

.popular-manufacturers-header {
  margin-bottom: 20px;
  padding: 0;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-manufacturers-header h2 {
  margin: 0;
  padding-left: 28px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;;
}

.popular-brands {
  margin: 0;
  padding: 0;
  width: 940px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-brands li {
  margin-bottom: 20px;
  width: 218px;
  height: 143px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-brands li:hover {
  box-shadow: 0 10px 35px 0 #bec2c6;
}

.popular-brands li:focus,
.popular-brands li:active {
  opacity: 0.3;
}

.popular-brands img {
  margin: 0;
  padding: 0;
}

.popular-brands a {
  margin: 0;
  padding: 0;
}

/* --СЕРВИСЫ --*/
.services {
  margin-bottom: 79px;
  padding: 0;
  background-color: #f4f8fa;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-wrap {
  width: 940px;
  margin-top: 67px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services-top {
  margin-bottom: 70px;
  padding: 0;
  width: 940px;
}

.services-top h2 {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services-top p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  width: 500px;
  margin: 0;
}

.services-page {
  margin: 0;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.services-nav {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 186px;
  list-style: none;
}

.services-nav {
  margin: 0;
}

.element-service-nav {
  display: block;
  padding: 15px 0 16px 22px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.element-service-nav:hover {
  color: #ffffff;
  background-color: #293449;
}

.element-service-nav:focus,
.element-service-nav:active {
  color: #32425c;
  background-color: #ffffff;
  border: none;
}

.active-service  {
  color: #32425c;
  background-color: #ffffff;
  border: none;
}

.services-main {
  width: 700px;
  height: 206px;
  margin: 0;
  padding-bottom: 78px;
  list-style: none;
  position: relative;
}

.services-main::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: -25px;
  left: 0;
  width: 15px;
  height: 240px;
  box-shadow: -5px 0 5px -5px #333;
}

.services-main h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;

  margin: -2px 0 24px 80px;
}

.services-main p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-left: 80px;
}

.services-main img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn-credit-order {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin-left: 80px;
  margin-top: 31px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 5px;
  color: #ffffff;
  background-color: #ff5357;
}

/* -- О КОМПАНИИ--*/
.about{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
}

.about h2 {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 23px;
}

.delivery-partners {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  list-style: none;
  margin-bottom: 37px;
}

.delivery-partners li {
  margin-bottom: 20px;
  padding-left: 36px;
  position: relative;
}

.delivery-partners li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  background-position: 0 0;
  top: 9px;
  left: 0;
}

.btn-company {
  display: block;
  width: 220px;
  margin: 0;
  padding: 10px 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.btn-company:hover {
  background-color: #ca2c37;
}

.btn-company:focus {
  background-color: #ba2732;
}

.company {
  margin: 0;
  padding: 0;
  width: 518px;
}

.contacts {
  width: 300px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 32px;
}

.contacts img {
  width: 300px;
  height: 158px;
}

.img-click {
  display: block;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.btn-contacts {
  display: block;
  width: 300px;
  margin: 0;
  padding: 10px 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.btn-contacts:hover {
  background-color: #ca2c37;
}

.btn-contacts:focus {
  background-color: #ba2732;
}

/* -- Стили КАТАЛОГА --*/
.container-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-wrapper {
  width: 940px;
  margin-bottom: 60px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.top-catalog {
  margin-bottom: 20px;
  padding: 0;
  width: 940px;
}

.catalog {
  width: 700px;
}

.catalog h2 {
  margin: 0;
  padding: 0;
}

/*-- хлебные крошки --*/
.breadcrumbs {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.breadcrumbs-item {
  margin: 0;
  position: relative;
}

.breadcrumbs-item a {
  display: block;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  padding-right: 27px;
  position: relative;
}

.breadcrumbs-item:nth-child(1) a {
  margin-left: -2px;
}

.breadcrumbs-item:nth-child(2) a {
  margin-left: 28px;
}

.breadcrumbs-item:nth-child(3) a {
  margin-left: 10px;
}

.breadcrumbs-item:nth-child(4) a {
  margin-left: 10px;
}

.breadcrumbs-item:first-child svg {
  position: absolute;
  top: 3px;
  left: 0;

  width: 15px;
  height: 12px;
  fill: #c1c6ce;
}

.breadcrumbs-item:first-child a::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #c1c6ce;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
  position: absolute;
  top: 5px;
  left: 26px;
}

.breadcrumbs-item:nth-child(2) a::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #c1c6ce;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
  position: absolute;
  top: 5px;
  left: 68px;
}

.breadcrumbs-item:nth-child(3) a::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #c1c6ce;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
  position: absolute;
  top: 5px;
  left: 95px;
}

.breadcrumbs-item:last-of-type a::after {
  display: none;
}

.page-title {
  width: 940px;
  height: 90px;
  background-color: #f2f6f8;
}

.page-title h1 {
  margin: 0;
  padding: 30px 0 21px 28px;
  font-family: "Cuprum", Arial, sans-serif;;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 220px;
}

.filter h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 18px;
  padding: 10px 0 10px 19px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.form-filter fieldset {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  border: none;
}

.filter fieldset:first-child {
  padding-bottom: 25px;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 23px;
}

.filter fieldset:nth-child(2) {
  padding-bottom: 1px;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 24px;
}

.filter fieldset:last-of-type {
  margin-bottom: 56px;
}

.form-filter legend {
  margin-bottom: 22px;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-filter ul {
  list-style: none;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  width: 19px;
  height: 19px;
  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 5px;

  width: 17px;
  height: 6px;
  border: 4px solid #c5c5c5;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-48deg);
  box-shadow: inset 0 -2px 0 0 #fff, 0 2px 0 0 #fff;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  width: 14px;
  height: 14px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4.5px;
  left: 7.5px;

  width: 8px;
  height: 8px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input:disabled + label {
  color: #ffffff;

  opacity: 0.5;
}

.btn-filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0;
  padding: 9px 0;
  width: 140px;
}

.range-controls {
  position: relative;
  padding: 39px 20px;
  background-color: #f7f3ec;
  margin-bottom: 10px;
  border-radius: 3px;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  background-color: #c5c5c5;
  position: absolute;
  top: 38px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;;
}

.range-toggle {
  position: absolute;
  top: 29px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 160px;
}

.price-controls {
  padding: 0;
  border-radius: 2px;

  display: flex;
  justify-content: space-between;
  position: relative;

  box-sizing: border-box;
}

.price-controls label {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  width: 75px;
  border: 0;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 3px;
  padding: 9px;
}

.price-controls::before {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  top: 19px;
  left: 106px;
  background-color: #000000;
}

.header-filter {
  margin: 0;
  padding: 0;
}

/*-- Блок сортировки --*/
.sorting {
  background-color: #f7f3ec;
  border-radius: 3px;

  font-family: "PT Sans", Arial, sans-serif;

  display: flex;
  justify-content: space-between;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  width: 700px;
  height: 38px;
  margin-bottom: 20px;
}

.sorting-head {
  margin: 0 97px 0 0;
  padding: 10px 0;
  padding-left: 19px;
  font-weight: 400;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 355px;
  display: flex;
  justify-content: space-between;
}

.sorting-list li {
  margin: 0;
  padding: 10px 0;
}

.sorting-item a {
  color: #cacaca;
  border-bottom: 1px dashed #ee3643;
}

.sorting-item:hover a {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-item:active a,
.sorting-item:focus a {
  color: #ee3643;
  border-bottom: none;
}

.active-sorting-item a {
  color: #ee3643;
  border-bottom: none;
}

.sorting-buttons {
  width: 43px;
  padding-top: 1px;
  padding-right: 17px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.btn-up {
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent #c5c5c5;
}

.btn-up:hover {
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent #000000;
}

.btn-up:active,
.btn-up:focus {
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent #ee3643;
}

.btn-down {
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent #c5c5c5;
  transform: rotate(180deg);
}

.btn-down:hover {
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent #000000;
  transform: rotate(180deg);
}

.btn-down:active,
.btn-down:focus {
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent #ee3643;
  transform: rotate(180deg);
}

.btn-active {
  border-color: transparent transparent #ee3643;
}

/* -- NEW UL CARTS -- */
.popular-list {
  width: 940px;
  margin: 0;
  padding: 0;
}

.catalog-list {
  width: 700px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;
  padding: 0;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-item {
  margin-bottom: 20px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 320;
}

.catalog-item .flag-new {
  background: url("../img/new.png") no-repeat 0 0;
}

.catalog-item:hover {
  box-shadow: 0 10px 35px 0 #bec2c6;
}

.catalog-item .actions {
  position: absolute;
  top: 5px;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,1.0);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;

  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.buy {
  position: relative;
}

.catalog-item .actions .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .actions .buy:active,
.catalog-item .actions .buy:focus {
  background-color: #518534;
  border: 3px solid #518534;
}

.buy svg {
  position: absolute;
  top: 7px;
  left: 11px;

  width: 15px;
  height: 15px;
  fill: #ffffff;
  opacity: 0.3;
}

.buy:hover svg,
.buy:active svg,
.buy:focus svg {
  fill: #ffffff;
  opacity: 1.0;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions .bookmark:hover {
  color: #32425c;
  border: 3px solid #32425c;
}

.catalog-item .actions .bookmark:active,
.catalog-item .actions .bookmark:focus {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}

.catalog-item .image {
  width: 218px;
  height: 170px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  padding: 0 25px;
  margin-top: 8px;
  margin-bottom: 11px;
}

.catalog-item .discount {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 9px;
  min-height: 20px;

  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .price {
  display: block;
  width: 141px;
  padding: 10px 0;
  margin-left: 42px;
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
  color: white;
  background: #ee3643;
  border-radius: 3px;

  position: relative;
}

.catalog-list .price {
  line-height: 18px;
}

.catalog-item .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

/*-- Пагинация  --*/
.pagination-list {
  padding: 0;
  margin-top: 33px;
  margin-bottom: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  width: 36px;
  padding: 9px 0 10px 0;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active,
.pagination-item a:focus {
  border: 1px solid #ee3643;
}

.pagination-btn a {
  display: block;
  width: 138px;
  padding: 9px 0 10px 0;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-btn a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-btn a:active,
.pagination-btn a:focus {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
  border-radius: 3px;
}

/*--  Пара слов о перфораторах  --*/
.more-info-wrap {
  margin: 0 auto;
  width: 940px;
}

.more-info {
  width: 100%;
  margin: 0;
  padding-top: 65px;
  padding-bottom: 69px;
  background-color: #f2f6f8;
}

.more-info h4 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.more-info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 26px 0 0;
  padding: 0;
}

/* -- FOOTER --*/
.footer-main {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  background-color: #32425c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  height: 63px;
}

/* -- FOOTER LOGO --*/
.footer-logo {
  display: block;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;

  margin: 0;
  padding: 17px 0;
  background-color: #ee3643;
  text-align: center;

  box-shadow: 0 5px 0 0 #b52933;
}

.footer-info {
  margin-top: 14px;
  padding-bottom: 30px;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 3px;
}

.bottom-navigation {
  margin-top: 37px;
  padding: 0;
  width: 548px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-navigation a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.bottom-navigation a:hover {
  text-decoration: underline;
}

.bottom-navigation a:focus,
.bottom-navigation a:active {
  color: #929caa;
  text-decoration: none;
}

.bottom-navigation ul {
  list-style: none;
}

.footer-menu {
  width: 525px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer-menu a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:focus,
.footer-menu a:active {
  color: #998a6e;
  text-decoration: none;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
}

.footer-additionally {
  display: flex;
  padding-top: 23px;
  padding-bottom: 20px;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-additionally-wrap {
  width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin: 0 44px 0 0;
  padding-left: 2px;
  font-size: 16px;
  line-height: 18px;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social li {
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
  margin-right: 4px;
  position: relative;
}

.social li:hover,
.social li:focus,
.social a:active {
  background-color: #ee3643;
}

.social-btn-vk::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 15px;
  top: 14px;
  left: 7px;
  background-image: url(../img/i/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  top: 10px;
  left: 15px;
  background-image: url(../img/i/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-btn-insta::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 10px;
  left: 10px;
  background-image: url(../img/i/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feedback {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.feedback p:first-child {
  margin-right: 53px;
}

.feedback p:last-of-type{
  margin-right: 13px;
}

.feedback a {
  color: #f1c77c;
}

.feedback a:hover {
  color: #f1c77c;
  text-decoration: underline;
}

.feedback a:focus,
.feedback a:active {
  color: #e13643;
}

/*-- Попап Обратная связь  --*/
.modal-feedback {
  font-family: "Cuprum", Arial, sans-serif;
  position: fixed;

  top: 50%;
  left: 50%;
  margin-top: -210px;
  margin-left: -310px;

  width: 620px;
  height: 431px;

  border-top: 7px solid #ee3643;
  box-shadow: 0 15px 32px 0 #ccc;
  z-index: 500;
  display: none;
}

.modal-feedback-show {
  display: block;
  animation: bounce 0.6s;
}

.header-form-feedback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 48px 80px 37px;
  background-color: #ffffff;
}

.footer-form-feedback {
  padding: 45px 80px 49px;
  background-color: #f1f1f1;
}

.btn-feedback {
  display: block;
  margin: 0;
  width: 460px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
}

.main-form-label {
  margin-bottom: 22px;
}

.form-label-text {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 10px;
}

.form-label-input {
  display: block;
  width: 186px;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 7px 15px;

  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.commit-input {
  margin: 0;
  width: 429px;
  height: 87px;
}

.btn-modal-added {
  border: none;

  content: "";
  position: absolute;
  background-color: #ffffff;
  background-image: url("../img/i/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
}

/*-- Попап ТОВАР добавлен в корзину --*/
.modal-added {
  font-family: "Cuprum", Arial, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: -310px;
  width: 620px;
  height: 282px;

  display: flex;
  flex-direction: column;
  border-top: 7px solid #ee3643;

  box-shadow: 0 15px 32px 0 #ccc;
  z-index: 500;

  display: none;
}

.modal-added-show {
  display: block;
  animation: bounce 0.6s;
}


.header-item-added {
  display: flex;
  padding: 45px 80px 49px;
  background-color: #ffffff;
}

.footer-item-added {
  display: flex;
  margin: 0;
  padding: 38px 80px;
  justify-content: center;
  background-color: #f1f1f1;
}

.icon-item-added {
  position: relative;
  margin: 0 30px 0 0;
  width: 67px;
  height: 67px;
  background-color: #63a63e;
  border-radius: 50%;
}

.icon-item-added::before {
  content: "";
  position: absolute;

  top: 18px;
  left: 14px;
  width: 32px;
  height: 15px;

  border: 8px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.modal-added h4 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 200;
  color: #000000;

  align-self: center;
}

.btn-item-added {
  border: none;

  content: "";
  position: absolute;
  background-color: #ffffff;
  background-image: url("../img/i/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
}

.btn-modal-checkout {
  display: block;
  margin-right: 20px;
  width: 220px;

  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  padding: 12px 0;
  border-radius: 5px;
}

.btn-modal-continue {
  display: block;
  margin: 0;
  width: 220px;

  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 12px 0;
  border-radius: 5px;
}

/* -- ПОПАП большая карта --*/
.modal-map-big {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -470px;
  width: 970px;
  height: 476px;

  box-shadow: 0 0 25px 5px #b8b8b8;
  z-index: 900;

  display: none;
}

.modal-map-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-map-big iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map-big p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map-big img {
  max-width: 100%;
}

.btn-modal-map {
  border: none;

  content: "";
  position: absolute;
  background-color: transparent;
  background-image: url("../img/i/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;

  z-index: 5;
}

/*-- Анимация поппапов --*/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/*-- Скрыть --*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
