@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/web/cuprum.woff2') format('woff2'),
  url('../fonts/web/cuprum.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/web/cuprumbold.woff2') format('woff2'),
  url('../fonts/web/cuprumbold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/web/cuprumitalic.woff2') format('woff2'),
  url('../fonts/web/cuprumitalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/web/ptsans.woff2') format('woff2'),
  url('../fonts/web/ptsans.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/web/ptsansbold.woff2') format('woff2'),
  url('../fonts/web/ptsansbold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  min-width: 940px;
}

a {
  text-decoration: none;
}
/* ------------------------------------------------------------------------------------------------ HEADER -----------*/
.main-header {
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f4f7f9;
  margin-bottom: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.catalog-header {
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f4f7f9;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
/* ------------------ TOP HEADER ------------------------*/
.top-header {
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  height: 42px;
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 44px;
}

.top-header-wrap {
  max-width: 940px;
  height: 42px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
                                                      /* ----  LOGO ----*/
.logo {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto 0;
  padding: 10px 57px;
  background-color: #ee3643;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:focus {
  background-color: #ba2732;
}
                                                      /* ---- SEARCH ----*/

.search-form {
  position: relative;
}

.search-form label {              /* не понятно предназначение, нужно что-то задавать? */
}

.search-form input {
  width: 270px;
  height: 42px;
  border: 0;
  padding: 0 10px 0 49px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;                 /* не работает */
  background-color: #293449;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  color: black;                   /* не работает */
  background-color: #ffffff;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  background-image: url("../img/i/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search-form:hover::before {
  opacity: 1;
}
.search-form:focus::before {
  fill: red;                      /* не работает */
}
                                            /* ---- SHOP-PANEL ----*/
.shop-panel {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none
}

.shop-panel-item {
  height: 42px;
  justify-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.shop-panel-item:hover {
  background-color: #212a3a;
}

.shop-panel-item:focus {
  background-color: #161d29;
}

                                            /* ---- BOOKMARK ----*/
.item-bookmark {
  display: block;
  width: 150px;
  text-align: center;

  margin: 0;
  padding: 12px 0;
  color: #ffffff;
}

.item-bookmark::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  background-image: url("../img/i/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.item-bookmark:hover::before {
  opacity: 1;
}
.item-bookmark:focus::before {
  opacity: 0.3;
}
                                               /* ---- CART ----*/
.item-cart {
  display: block;
  width: 150px;
  margin: 0;
  padding: 12px 0;

  text-align: center;
  color: #ffffff;
}

.active-cart {
  width: 150px;
  padding: 12px 0;

  background-color: #ee3643;
}

.item-cart::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 18px;
  background-image: url("../img/i/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.item-cart:hover::before {
  opacity: 1;
}
.item-cart:focus::before {
  opacity: 0.3;
}
.item-cart:active::before {
  fill: red;
}
                                                /* ---- ORDER BUTTON ----*/
.btn-order {
  display: block;
  width: 150px;

  margin: 0;
  padding: 12px 0;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
  background-color: #63a63e;
  border: none;
}

.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:focus {
  background-color: #518534;
}
/* ------------------ INFO HEADER ------------------------------------------*/
.info-header {
  padding: 0;
  width: 940px;
  height: 68px;
  margin-bottom: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  margin: 4px 0 0 53px;
  width: 205px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  margin: 0;
  padding: 0;
  width: 300px;
}

.phone {
  margin: 0 0 0 12px;
  padding: 10px 0;
  width: 265px;
  border: 3px solid #ffffff;
  position: relative;
}

.phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 13px;
  background-image: url("../img/i/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.phone a {
  margin-left: 71px;
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
}

.address {
  margin: 3px 0 0 22px;
  padding: 0;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}
/* ------------------------ Личный кабинет -----------------------------*/

.user-panel {
  margin: 2px 0;
  display: flex;
}

.user-panel a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-panel a:hover {
  color: #ee3643;
}

.user-panel a:focus {
  color: #cacaca;
}

.user-enter {
  align-self: flex-start;
  padding: 11px 27px 11px 48px;
  margin-right: 10px;
  position: relative;
}

.user-registration {
  align-self: flex-start;
  padding: 11px 24px;
}

.user-enter::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  background-image: url("../img/i/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-enter::before:hover {         /*как задать иконе цвет ? */
  fill: #ee3643;
}

.user-panel-active {
  font-family: "Cuprum", Arial, sans-serif;
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  position: relative;
  margin: 0;
  padding: 15px 68px 13px 47px;
  background-color: #ffffff;
  align-self: flex-start;
}

.user-name a {
  color: #000000;
}

.user-name a::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 18px;
  top: 15px;
  left: 12px;
  background-image: url("../img/i/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-name a::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  top: 15px;
  right: 10px;
  background-image: url("../img/i/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-list {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  margin: 7px 0 0 18px;
}

.user-list a:nth-child(2) {
  margin-left: 28px;
  position: relative;
}

.user-list a:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 8px;
  left: -16px;
  background-color: #32425c;
  border-radius: 50%;
}
/* ------------------------------------ NAVIGATION HEADER -------------------------------*/
.main-navigation {
  margin-bottom: 60px;
}

.nav-wrap {
  margin: 0 auto;
  width: 940px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  background-color: #32425c;
  min-height: 55px;
  border-bottom: 5px solid #293449;
}

.element-navigation {
  display: block;

  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  text-align: center;

  margin: 0;
  padding: 19px 0;
}

.element-navigation:hover {
  background-color: #293449;
}

.element-navigation:focus {
  color: #868c95;
  background-color: #1d2739;
}

.element-navigation:first-child {
  padding-left: 25px;  /*применяю значения по макету - появляется вторая строка*/
}

.element-navigation:last-of-type {
  padding-right: 25px;  /*применяю значения по макету - появляется вторая строка*/
}
/*----------------------------------------------------------------------------------- Стили MAIN контейнера -------*/
.container {
  margin-bottom: 86px;
  padding: 0;
  min-width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* --------------------------------------------------------------------------------------- Стили ПРОМО БЛОКА -------*/
.promo {
  padding: 0;
  width: 940px;
  min-height: 410px;
  margin-bottom: 33px;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.promo-item {
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  width: 300px;
  height: 123px;
}

.promo-item:nth-of-type(4) {
  margin-left: 638px;
}

.promo-item:nth-of-type(5) {
  margin-left: 638px;
}

.promo-item h3 {
  margin-left: 23px;de
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.btn-promo {
  display: block;
  width: 135px;
  margin-left: 19px;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(229, 229, 229, 0.3);
  border: none;
  border-radius: 5px;
}

.btn-promo:hover {
  background-color: rgba(204, 204, 204, 1.0);
}

.btn-promo:focus {
  background-color: rgba(178, 178, 178, 1.0);
}

.materials  {
  background-color: #ffbf47;
  background-image: url("../img/promo/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}

.instruments {
  background-color: #3bbce3;
  background-image: url("../img/promo/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
}

.technics {
  background-color: #dc91d8;
  background-image: url("../img/promo/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
}

.sells {
  background-color: #8ed78f;
  background-image: url("../img/promo/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 82% 50%;
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/promo/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
}
                                                                                  /* ------------ SLIDER ------------ */
.promo-slider {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;
  position: absolute;
  top: 143px;
  left: 0;
  border: none;
}
.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.slider-item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider-item h3 {
  margin: 0;
  padding-top: 27px;
  padding-left: 24px;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-item p {
  padding-left: 24px;
  font-size: 18px;
  line-height: 24px;
}

.btn-slider {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin-left: 25px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  border-radius: 5px;
  background-color: #ee3643;
}

.btn-slider:hover {
  background-color: #ca2c37;
}

.btn-slider:focus {
  background-color: #ba2732;
}
                                    /* ------------------------------------------------ section POPULAR PRODUCTS -----*/
.popular-products {
  margin-bottom: 10px;
}

.popular-products-header {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 940px;
  height: 90px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popular-products-header h2 {
  margin: 0;
  padding-left: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.popular-list li {
  width: 220px;
  height: 318px;
}

/* ------------------------------------------------ Кнопка популярно -----*/

.btn-popular {
  display: block;
  width: 253px;
  padding: 10px 0;
  margin-right: 24px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 5px;
  color: #ffffff;
  background-color: #ee3643;
}

.btn-popular:hover {
  background-color: #ca2c37;
}

.btn-popular:focus {
  background-color: #ba2732;
}

                                /* ------------------------------------------------ section POPULAR MANUFACTURES -----*/
.popular-manufacturers {
  margin-bottom: 65px;
}

.popular-manufacturers-header {
  margin-bottom: 20px;
  padding: 0;
  width: 940px;
  height: 90px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-manufacturers-header h2 {
  margin: 0;
  padding-left: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-brands {
  margin: 0;
  padding: 0;
  width: 940px;
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-brands li {
  margin-bottom: 20px;
  width: 218px;
  height: 143px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-brands img {
  align-content: center;
}

/* ------------------------------------------------ Стили Блока СЕРВИСЫ -----*/
.services {
  margin-bottom: 82px;
  padding-top: 62px;
  background-color: #f4f8fa;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-wrap {
  width: 940px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-top {
  margin-bottom: 70px;
  padding: 0;
  width: 940px;
}

.services-top h2 {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services-top p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 400px;
  margin: 25px 0 0;
}

.services-page {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.services-nav {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 186px;
  list-style: none;
}

.element-service-nav {
  display: block;
  width: 240px;
  padding: 16px 0 16px 23px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}


.active-service  {
  color: #32425c;
  background-color: #ffffff;
  border: none;
}

.services-main {
  width: 700px;
  height: 283px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-main h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;

  margin-left: 87px;
  margin-top: 0;
  margin-bottom: 26px;
}

.services-main p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-left: 87px;
}

.services-main img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn-credit-order {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin-left: 87px;
  margin-top: 31px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 5px;
  color: #ffffff;
  background-color: #ff5357;
}
/* ------------------------------------------------------------------------------------Стили секции О КОМПАНИИ--------*/
.about{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
}

.about h2 {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
}

.about p:last-of-type {
  margin-top: 28px;
}


.delivery-partners {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  list-style: none;
  margin-bottom: 37px;
}

.delivery-partners li {
  margin-bottom: 20px;
  padding-left: 36px;
  position: relative;
}

.delivery-partners li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  background-position: 0 0;
  top: 7px;
  left: 0;
}

.btn-company {
  display: block;
  width: 220px;
  margin: 0;
  padding: 10px 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 5px;
}

.btn-company:hover {
  background-color: #ca2c37;
}

.btn-company:focus {
  background-color: #ba2732;
}

.company {
  margin: 0;
  padding: 0;
  width: 518px;
}

.contacts {
  width: 300px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 36px;
}

.contacts img {
  margin-bottom: 40px;
}

.btn-contacts {
  display: block;
  width: 300px;
  margin: 0;
  padding: 10px 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 5px;
}

.btn-contacts:hover {
  background-color: #ca2c37;
}

.btn-contacts:focus {
  background-color: #ba2732;
}


/* ----------------------------------------------------------------------------------------- FOOTER ------------------*/
.footer-main {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  background-color: #32425c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  height: 63px;
}

/* ----  FOOTER LOGO ----*/
.footer-logo {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;

  margin: 0;
  padding: 21px 57px;
  background-color: #ee3643;
  text-align: center;

  box-shadow: 0 5px 0 0 #b52933;
}

.footer-info {
  margin-top: 15px;
  padding-bottom: 29px;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 3px;
}

.bottom-navigation {
  margin-top: 37px;
  padding: 0;
  width: 548px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-navigation a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.bottom-navigation a:hover {
  text-decoration: underline;
}

.bottom-navigation a:focus {
  color: #929caa;
}

.bottom-navigation ul {
  list-style: none;
}

.footer-menu {
  width: 525px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer-menu a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:focus {
  color: #998a6e;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
}

.footer-additionally {
  display: flex;
  padding-top: 28px;
  padding-bottom: 30px;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-additionally-wrap {
  width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin: 0 44px 0 0;
  padding-left: 3px;
  font-size: 16px;
  line-height: 18px;
}

.social {
  list-style: none;
  display: flex;
}


.social li {
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}

.social li:hover,
.social li:focus {
  background-color: #ee3643;
}

.social-btn-vk::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 15px;
  top: 13px;
  left: 7px;
  background-image: url(../img/i/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  top: 10px;
  left: 15px;
  background-image: url(../img/i/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-btn-insta::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 10px;
  left: 10px;
  background-image: url(../img/i/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feedback {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.feedback p:first-child {
  margin-right: 53px;
}

.feedback a {
  color: #f1c77c;
}

.feedback a:hover {
  color: #f1c77c;
  text-decoration: underline;
}

.feedback a:focus {
  color: #e13643;
}

/* ------------------------------------------------ Стили КАТАЛОГА ----------*/

.container-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-wrapper {
  width: 940px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.top-catalog {
  margin-bottom: 20px;
  padding: 0;
  width: 940px;
}

.breadcrumbs {
  margin-top: 0;
  margin-bottom: 21px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.breadcrumbs li {
  margin-right: 17px;
}

.breadcrumbs li:first-child {
  width: 14px;
  height: 12px;
  margin-top: 6px;
  padding-right: 17px;
  background-image: url(../img/i/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  padding-left: 25px;
}

.breadcrumbs a::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  left: -10px;
  background-image: url(../img/i/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-title {
  width: 940px;
  height: 90px;
  background-color: #f2f6f8;
}

.page-title h1 {
  margin: 0;
  padding: 30px 0 21px 28px;
  font-family: "Cuprum", Arial, sans-serif;;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.filter fieldset {
  margin: 0;
  padding: 0;
}

.filter legend {
  margin-left: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px dashed red;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px dashed yellowgreen;
}

.filter li {
  margin-bottom: 17px;
}

.filter-label {
  padding-left: 0;
}

.filter input {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.icon-check-square {
  width: 23px;
  height: 23px;
  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.checkbox-square {

}

.input-check-square + icon-check-square {
  display: block;
}

/* ---------------NEW UL CARTS--------------------- */

.popular-list {
  width: 940px;
  margin: 20px auto 0;
}

.catalog-list {
  width: 700px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,1.0);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;

  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 11px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}
/*---------------- Пара слов о перфораторах --------------------*/

.more-info-wrap {
  margin: 0 auto;
  width: 940px;
}


.more-info {
  width: 100%;
  margin: 0;
  padding-top: 62px;
  padding-bottom: 69px;
  background-color: #f2f6f8;
}

.more-info h4 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.more-info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 23px 0 0;
  padding: 0;
}
/* ------------------------------------------------ Стили ПОПАПОВ -----------*/

.item-map-big,
.visually-hidden {
  display: none;
}

/*------------------------ Попап Обратная связь ----------------------------*/
.item-feedback {
  font-family: "Cuprum", Arial, sans-serif;
  position: absolute;

  top: 411px;
  left: 50%;
  margin-left: -310px;

  width: 620px;
  height: 431px;

  border-top: 7px solid #ee3643;
  box-shadow: 0 15px 32px 0 #ccc;
  z-index: 500;
}

.header-form-feedback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 48px 80px 37px;
  background-color: #ffffff;
}

.footer-form-feedback {
  padding: 45px 80px 49px;
  background-color: #f1f1f1;
}

.btn-feedback {
  display: block;
  margin: 0;
  width: 460px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
}

.main-form-label {
  margin-bottom: 22px;
}

.form-label-text {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 10px;
}

.form-label-input {
  display: block;
  width: 186px;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 7px 15px;

  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.commit-input {
  width: 428px;
  height: 87px;
}
/*------------------------ Попап ТОВАР добавлен в корзину ----------------------------*/
.item-added {
  font-family: "Cuprum", Arial, sans-serif;
  position: absolute;
  top: 411px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  height: 282px;

  display: flex;
  flex-direction: column;
  border-top: 7px solid #ee3643;

  box-shadow: 0 15px 32px 0 #ccc;
  z-index: 500;
}

.header-item-added {
  display: flex;
  padding: 45px 80px 49px;
  background-color: #ffffff;
}

.footer-item-added {
  display: flex;
  margin: 0;
  padding: 38px 80px;
  justify-content: center;
  background-color: #f1f1f1;
}

.icon-item-added {
  position: relative;
  margin: 0 30px 0 0;
  width: 67px;
  height: 67px;
  background-color: #63a63e;
  border-radius: 50%;
}

.icon-item-added::before {
  content: "";
  position: absolute;

  top: 18px;
  left: 14px;
  width: 32px;
  height: 15px;

  border: 8px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.item-added h4 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 200;
  color: #000000;

  align-self: center;
}

.btn-item-added {
  border: none;

  content: "";
  position: absolute;
  background-color: #ffffff;
  background-image: url("../img/i/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
}


.btn-modal-checkout {
  display: block;
  margin-right: 20px;
  width: 220px;

  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  padding: 12px 0;
  border-radius: 5px;
}

.btn-modal-continue {
  display: block;
  margin: 0;
  width: 220px;

  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 12px 0;
  border-radius: 5px;
}
