@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/web/cuprum.woff2') format('woff2'),
  url('../fonts/web/cuprum.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/web/cuprumbold.woff2') format('woff2'),
  url('../fonts/web/cuprumbold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/web/cuprumitalic.woff2') format('woff2'),
  url('../fonts/web/cuprumitalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/web/ptsans.woff2') format('woff2'),
  url('../fonts/web/ptsans.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/web/ptsansbold.woff2') format('woff2'),
  url('../fonts/web/ptsansbold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  min-width: 940px;
}

a {
  text-decoration: none;
}
/* ------------------------------------------------------------------------------------------------ HEADER -----------*/
.main-header {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f4f7f9;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
                                                        /* ------------------ TOP HEADER -----------------------------*/
.top-header {
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  height: 42px;

  color: #ffffff;
  background-color: #293449;
  margin-bottom: 46px;
}

.top-header-wrap {
  width: 940px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
                                                                      /* ------------------  LOGO --------------------*/
.logo {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 10px 56px 0 55px;
  background-color: #ee3643;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:focus {
  background-color: #ba2732;
}
                                                                               /* ------------ SEARCH ----------------*/
.search {
  margin: auto;
  padding: 0;
}

.search-icon {
  margin-left: 17px;
  margin-right: 15px;
}

.search-input {
  background-color: #293449;
  border: none;
  width:
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:focus {
  color: #000000;
  background-color: #ffffff;
}
                                                                /* ---------------------SHOP ITEMS--------------------*/
.shop-item {
  margin: auto;
  padding-right: 30px;
  color: #ffffff;
}

.shop-item img {
  padding-left: 18px;
  padding-right: 13px;
}

.shop-item a:hover {
  background-color: #212a3a;
}

.shop-panel-item a:focus {
  color: #8b8e94;
  background-color: #161d29;
}

.btn-order {
  margin: 0;
  padding: 13px 22px 12px 20px;
  color: #ffffff;
  background-color: #63a63e;
  border: none;
}

.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:focus {
  color: #a8c29a;
  background-color: #518534;
}
                                                         /* ---------------------------------- INFO HEADER -----------*/
.info-header {
  margin: 0;
  padding-left: 53px;
  width: 940px;
  height: 68px;
  margin-bottom: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  border: 1px dashed red;
}

.header-contacts {
  margin: 0;
  padding: 0;
  border: 1px dashed red;
}

.phone {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 33px;
  border: 3px solid #ffffff;
}

.phone img {
  margin: 0;
  padding: 0po;
}

.phone a {
  margin: 0;
  padding: 0;
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
}

.adress {
  margin: 0;
  padding: 0;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}
/* ------------------------ Личный кабинет -----------------------------*/
.login-list {
  margin: 0;
  padding: 0;
  width: 280px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  border: 1px dashed red;
}

.login-list a {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-list a:hover {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.login-list img {
  fill: #32425c;
}

.login-list a:focus {
  color: #c5c5c5;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.user-active ul {
  list-style: none;
}

.user {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.user:hover {
  color: #000000;
}

.user:focus {
  color: #c5c5c5;
  background-color: #ffffff;
}

.my-orders {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.my-orders:hover {
  color: #ee3643;
}

.my-orders:focus {
  color: #c5c5c5;
  background-color: #ffffff;
}

.login-active {
  display: flex;
  justify-content: space-between;
}

.private-office {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.private-office:hover {
  color: #ee3643;
}

.private-office:focus {
  color: #c5c5c5;
  background-color: #ffffff;
}
                                                      /* --------------------------- NAVIGATION HEADER ---------------*/
.main-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 60px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  width: 940px;
  min-height: 60px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #32425c;
}

.site-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  color: #868c95;
  background-color: #1d2739;
}
/* ----------------------------------------------------------------------------------- Стили MAIN контейнера -------*/
.container {
  margin: 0;
  padding: 0;
  min-width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* --------------------------------------------------------------------------------------- Стили ПРОМО БЛОКА -------*/
.promo {
  margin: 0;
  padding: 0;
  width: 940px;
  min-height: 410px;
  margin-bottom: 33px;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.promo-item {
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  width: 300px;
  height: 123px;
}

.promo-item:nth-of-type(4) {
  margin-left: 638px;
}

.promo-item:nth-of-type(5) {
  margin-left: 638px;
}

.promo-item h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.btn-promo {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #e5e5e5;
}

.btn-promo:hover {
  background-color: #cccccc;
}

.btn-promo:focus {
  background-color: #b2b2b2;
}

.materials  {
  background-color: #ffbf47;
  background-image: url("../img/promo/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 80% 50%;
}

.instruments {
  background-color: #3bbce3;
  background-image: url("../img/promo/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 80% 50%;
}

.technics {
  background-color: #dc91d8;
  background-image: url("../img/promo/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 80% 50%;
}

.sells {
  background-color: #8ed78f;
  background-image: url("../img/promo/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 80% 50%;
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/promo/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 80% 50%;
}
                                                                                  /* ------------ SLIDER ------------ */
.promo-slider {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;
  position: absolute;
  top: 143px;
  left: 0;
  border: none;
}
.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.slider-item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider-item h3 {
  margin: 0;
  padding-top: 27px;
  padding-left: 24px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-item p {
  padding-left: 24px;
  font-size: 18px;
  line-height: 24px;
}

.slider a {
  padding: 14px 45px 14px 49px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.slider a:hover {
  background-color: #ca2c37;
}

.slider a:focus {
  background-color: #ba2732;
}
                                    /* ------------------------------------------------ section POPULAR PRODUCTS -----*/
.popular-products {
  margin-bottom: 20px;
}

.popular-products-header {
  margin: 0;
  padding: 0;
  width: 940px;
  height: 90px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popular-products-header h2 {
  margin: 0;
  padding-left: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.btn-popular {
  height: 38px;
  color: #ffffff;
  background-color: #ee3643;
  margin-right: 24px;
}

.btn-popular a {
  padding: 14px 55px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.popular-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.popular-list li {
  width: 220px;
  height: 318px;
}
                                /* ------------------------------------------------ section POPULAR MANUFACTURES -----*/
.popular-manufacturers {
  margin-bottom: 65px;
}

.popular-manufacturers-header {
  margin: 0;
  padding: 0;
  width: 940px;
  height: 90px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popular-manufacturers-header h2 {
  margin: 0;
  padding-left: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-brands {
  margin: 0;
  padding: 0;
  width: 940px;
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-brands li {
  margin-top: 20px;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-brands img {
  align-content: center;
}

/* ------------------------------------------------ Стили Блока СЕРВИСЫ -----*/
.services {
  margin-bottom: 82px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #f4f8fa;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-wrap {
  width: 940px;
  height: 522px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-top {
  margin: 0;
  padding: 0;
  width: 940px;
  border: #63a63e 1px dashed;
}

.services-top h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services-top p {
  font-size: 13px;
  line-height: 24px;
}

.services-page {
  width: 940px;
  height: 522px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid blue;
  position: relative;
}

.services-nav {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 186px;
  list-style: none;
  border: 2px dashed hotpink;
}

.services-nav li {
  width: 240px;
  height: 60px;
  background-color: #32425c;
}

.services-nav a {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}

.active a {
  font-size: 21px;
  line-height: 30px;
  color: #32425c;
  background-color: #ffffff;
}

.services-main {
  width: 700px;
  height: 283px;
  paddint-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  pagging-left: 80px;
  list-style: none;
  border: 2px dashed orange;
}

.services-main h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.services-main p {
  font-size: 13px;
  line-height: 24px;
}

.services-main img {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ------------------------------------------------------------------------------------Стили секции О КОМПАНИИ--------*/
.about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
}

.about h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about p {
  font-size: 13px;
  line-height: 24px;
}


.delivery-partners ul {
  font-size: 18px;
  line-height: 20px;
}

.company {
  width: 518px;
}

.contacts {
  width: 300px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.btn-contacts {
  width: 300px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

/* ----------------------------------------------------------------------------------------- FOOTER ------------------*/
.footer-main {
  font-family: "Cuprum", Arial, sans-serif;
  margin-top: 85px;
  background-color: #32425c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
}

.footer-info {
  margin: 0;
  padding: 0;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-navigation {
  margin: 0;
  padding: 0;
  width: 550px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-navigation a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.bottom-navigation a:hover {
  text-decoration: underline;
}

.bottom-navigation a:focus {
  color: #929caa;
}

.bottom-navigation ul {
  list-style: none;
}

.footer-additionally {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-menu {
  width: 525px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer-menu a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:focus {
  color: #998a6e;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
}

.footer-additionally {
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-additionally-wrap {
  width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.social a {
  background-color: #212a3a;
}

.social a:hover,
.social a:focus {
  background-color: #ee3643;
}

.feedback {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.feedback a {
  color: #f1c77c;
}

.feedback a:hover {
  color: #f1c77c;
  text-decoration: underline;
}

.feedback a:focus {
  color: #e13643;
}

/* ------------------------------------------------ Стили КАТАЛОГА ----------*/

.top-catalog {
  margin-bottom: 20px;
  padding: 0;
  width: 940px;
}

.page-title {
  width: 940px;
  height: 90px;
  background-color: #f2f6f8;
}

.breadcrumbs {
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: auto;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 358px;
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.page-title h1 {
  margin: 0;
  padding-top: 33px;
  padding-bottom: auto;
  padding-left: 30px;
  padding-right: auto;
  font-family: "Cuprum", Arial, sans-serif;;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
}

.filters ul {
  list-style: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter input {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

/* ------------------------------------------------ Стили ТОВАРОВ -----------*/

.container-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-list {
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-wrap {
  width: 940px;
  display: flex;
  flex-direction: row;
}

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog ul {
  list-style: none;
}

.cart-item {
  margin-bottom: 20px;
  padding: 0;
  width: 218px;
  height: 318px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-item-head {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.old-price {
  color: #999999;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.price-button {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: #ee3643;
}

.cart-item-hover ul {
  list-style: none;
}

.cart-item-hover h3 {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.btn-buy {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-transform: uppercase;
}

.btn-bookmarks {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 3px solid #63a63e;
}

/* ------------------------------------------------ Стили ПОПАПОВ -----------*/

.item-feedback,
.item-map-big,
.item-added,
.visually-hidden {
  display: none;
}
